!!!5
%html{class:"no-js", lang:"en"}
	%head
		%meta{charset:"utf-8"}
		%title Trattoria Delicass - The Best Food
		%meta{name:"description", content:"Enjoy the best food that will make you feel in the Mediterranean"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
		You are using an
		%strong outdated browser.
		Please
		%a{href:"http://browsehappy.com/"}
			upgrade your browser for a better experience
		="<![endif]-->"
		.video-container
			%video{autoplay:true, loop:true, width:"1280", height:"720"}
				%source{src:"/videos/mp4/drink-wine.mp4", typ:"video/mp4"}
				%source{src:"/videos/webm/drink-wine.webm", typ:"video/webm"}